{% load i18n %}{% autoescape off %}
{% blocktrans %}You're receiving this email because someone has tried to contact <a href="srblankenbaker.com">SrBlankenbaker.com</a>.{% endblocktrans %}
<br>
{% trans "The following contact info has been sent:" %}
    {% block reset_link %}
        <table width="600" style="border:1px solid #dddddd">
            <tr>
                <td colspan="2" align="center">Contact Request</td>
            </tr>
            <tr>
                <td align="right">Name:</td>
                <td>{{ contact_name }}</td>
            </tr>
            <tr>
                <td align="right">Email:</td>
                <td>{{ contact_email }}</td>
            </tr>
            <tr>
                <td align="right">Subject:</td>
                <td>{{ contact_subject }}</td>
            </tr>
            <tr>
                <td align="right">Message:</td>
                <td>{{ contact_message }}</td>
            </tr>
        </table>
    {% endblock %}

{% trans "End of message." %}
<hr>
{% blocktrans %}Sr. Blankenbaker{% endblocktrans %}

{% endautoescape %}