{% extends "layout/base.html" %}
{% load staticfiles %}

    {% block extra_head_styles%}

        .bgimg-1 {
            background-image: url("{% static "img/hero_image.svg" %}");
            height: 100%;
        }

        .blured-box {
            margin: 20px;
        }

        @media only screen and (max-device-width: 1024px) {
            .bgimg-1 {
                position: relative;
                background-attachment: fixed;
                background-position-x: center;
                background-size: cover;
            }

            .blured-menu-bgimg-1 {
                width: calc(100% - 55px);
                display:block;
                background-attachment: fixed;
                background-position-x: center;
                background-repeat: no-repeat;
                background-size: 100% auto;
                position: absolute;
                border-radius: 25px;
                padding: 50px 40px;
                top: 30px;
            }

            .content-menu {
                width: calc(100% - 55px);
                position: absolute;
                background-color: rgba(10, 10, 10, 0.5);
                border-radius: 12px;
                color: #f7f7f7;
                padding: 20px;
                top: 30px;
            }

            .content-menu-wrap {
                border: solid #f7f7f7 2px;
                padding: 20px;
                border-radius: 10px;
            }
        }

        @media only screen and (min-device-width: 1024px) {
            .bgimg-1 {
                position: relative;
                background-attachment: fixed;
                background-position-x: center;
                background-position-y: 80px;
                background-repeat: no-repeat;
                background-size: 100% auto;
            }

            .blured-menu-bgimg-1 {
                width: calc(100% - 55px);
                height: 120px;
                display:block;
                background-attachment: fixed;
                background-position-x: center;
                background-position-y: 80px;
                background-repeat: no-repeat;
                background-size: 100% auto;
                position: absolute;
                -webkit-filter: blur(12px);
                -moz-filter: blur(12px);
                -o-filter: blur(12px);
                -ms-filter: blur(12px);
                filter: blur(12px);
                filter: progid: DXImageTransform.Microsoft.Blur(PixelRadius='12');
                border-radius: 25px;
                background-image:url('{% static "img/hero_image.svg" %}');
                padding: 50px 40px;
                top: 360px;
            }

            .content-menu {
                width: calc(100% - 55px);
                position: absolute;
                height: 120px;
                background-color: rgba(10, 10, 10, 0.5);
                border-radius: 12px;
                color: #f7f7f7;
                padding: 20px;
                top: 360px;
            }

            .content-menu-wrap {
                height: 80px;
                border: solid #f7f7f7 2px;
                padding: 20px;
                border-radius: 10px;
            }
        }

        .row {
            margin-left: 0;
            margin-right: 0;
        }

        .cgi-logo {
            -webkit-filter: grayscale(100%) invert(100%); /* Safari 6.0 - 9.0 */
            -moz-filter: grayscale(100%) invert(100%);
            -o-filter: grayscale(100%) invert(100%);
            -ms-filter: grayscale(100%) invert(100%);
            filter: grayscale(100%) invert(100%);
        }

        /* Turn off parallax scrolling for tablets and phones */
        @media only screen and (max-device-width: 1024px) {
            .bgimg-1 {
                background-attachment: scroll;
            }
        }
    {% endblock%}

{% block header %}
    {% include "layout/header.html" with isWork="True" %}
{% endblock %}

    {% block content %}
    <div style="height: 80px;"></div>

    <div class="row"  id="about" style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: center;">
        <div class="col-lg-12">
            <h3 style="text-align:center;">Just Some Of Our Latest Projects.</h3>
            <p>
            Don’t just take our word for it. Check out some of our latest work.
            </p>
        </div>
    </div>
    <div class="row"  id="about" style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify-all;">
        <div class="col-lg-12 preview">
            <div class="thumbnail">
                <h3>Botellon PureWater</h3>
                <img src="{% static "img/botellon_pw.png" %}" class="rounded mx-auto d-block">
                <hr>
                <p>Integral solution implemented for Tesalia Springs Co., we developed an admin Web and a Mobile App for online orders.</p>
            </div>
        </div>
        <div class="col-lg-12 preview">
            <div class="thumbnail">
                <h3>Sr. Blankenbaker - Analytics</h3>
                <img src="{% static "img/analytics.png" %}" class="rounded mx-auto d-block">
                <hr>
                <p>Software for Social Network Analysis, this project was implemented for our partner Gripe Comunicaciones Integras S.A. as a Web Solution.</p>
            </div>
        </div>
        <div class="col-lg-12 preview">
            <div class="thumbnail">
                <h3>Reyes de la Obra</h3>
                <img src="{% static "img/reyes_de_la_obra.png" %}" class="rounded mx-auto d-block">
                <hr>
                <p>Website implemented for Disensa, we implemented this admin website that manages promos inside the company.</p>
            </div>
        </div>
    </div>
    <div class="bgimg-1">
        <div class="row blured-caption">
            <div class="col-lg-1"></div>
            <div class="col-lg-10" style="padding-right: 0;">
                <div class="blured-menu-bgimg-1 blured-box"></div>
                <div class="content-menu blured-box" style="transform: translateX(7px);">
                    <div class="content-menu-wrap">
                        <div class="row" style="text-align: center;">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-2"><a href="/#about">About</a></div>
                            <div class="col-lg-2"><a href="/#web_solutions">Web Solutions</a></div>
                            <div class="col-lg-2"><a href="/#app_dev">App Dev</a></div>
                            <div class="col-lg-2"><a href="#">Terms</a></div>
                            <div class="col-lg-2"></div>
                        </div>
                        <br>
                        <div class="row" style="text-align: center;">
                            <div class="col-lg-12">
                                Copyright © <a href=".">Sr Blankenbaker</a>.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
    {% endblock %}