{% extends "layout/base.html" %}

{% block header %}
    {% include "layout/navigationbar.html" with isaccount="true" %}
{% endblock %}

{% block content %}

    {% include "layout/header_4_logout.html" %}
    <div class="container-fluid base">
        <div class="base">
            {%if success %}
            <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                {{success}}
            </div>
            {% endif%}
            <form method="POST" role="form">
                {% csrf_token %}
                <fieldset class="form-group">
                    {{ userform.username.label }}:
                    {{ userform.username }}
                    <!--<div class="alert alert-info">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Info:</strong> {{ userform.username.help_text }}
                    </div>-->
                    {% if userform.username.errors %}
                    <div class="alert alert-danger">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Error:</strong> {{ userform.username.errors }}
                    </div>
                    {% endif%}
                    {{userform.first_name.label}}:
                    {{userform.first_name}}
                    {% if userform.first_name.errors %}
                    <div class="alert alert-danger">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Error:</strong> {{ userform.first_name.errors }}
                    </div>
                    {% endif%}
                    {{userform.last_name.label}}:
                    {{userform.last_name}}
                    {% if userform.last_name.errors %}
                    <div class="alert alert-danger">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Error:</strong> {{ userform.last_name.errors }}
                    </div>
                    {% endif%}
                    {{userform.email.label}}:
                    {{userform.email}}
                    {% if userform.email.errors %}
                    <div class="alert alert-danger">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Error:</strong> {{ userform.email.errors }}
                    </div>
                    {% endif%}
                    {{userform.password.label}}:
                    <div class="alert alert-info">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Info:</strong> {{ userform.password.help_text | safe }}
                    </div>
                    {% if userform.password.errors %}
                    <div class="alert alert-danger">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Error:</strong> {{ userform.password.errors }}
                    </div>
                    {% endif%}
                    <label>{{userform.is_active.label}}: {{userform.is_active}}</label>
                    <div class="alert alert-info">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Info:</strong> {{userform.is_active.help_text}}
                    </div>
                    <button type="submit" id="submit_btn" class="btn btn-primary btn-embossed form-control">Save</button>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}