{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="Sr.Blankenbaker">

    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% static "img/favicons/apple-touch-icon-57x57.png" %}" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static "img/favicons/apple-touch-icon-114x114.png" %}" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static "img/favicons/apple-touch-icon-72x72.png" %}" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static "img/favicons/apple-touch-icon-144x144.png" %}" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{% static "img/favicons/apple-touch-icon-60x60.png" %}" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static "img/favicons/apple-touch-icon-120x120.png" %}" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{% static "img/favicons/apple-touch-icon-76x76.png" %}" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static "img/favicons/apple-touch-icon-152x152.png" %}" />
    <link rel="icon" type="image/png" href="{% static "img/favicons/favicon-196x196.png" %}" sizes="196x196" />
    <link rel="icon" type="image/png" href="{% static "img/favicons/favicon-96x96.png" %}" sizes="96x96" />
    <link rel="icon" type="image/png" href="{% static "img/favicons/favicon-32x32.png" %}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{% static "img/favicons/favicon-16x16.png" %}" sizes="16x16" />
    <link rel="icon" type="image/png" href="{% static "img/favicons/favicon-128.png" %}" sizes="128x128" />
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="{% static "img/favicons/mstile-144x144.png" %}" />
    <meta name="msapplication-square70x70logo" content="{% static "img/favicons/mstile-70x70.png" %}" />
    <meta name="msapplication-square150x150logo" content="{% static "img/favicons/mstile-150x150.png" %}" />
    <meta name="msapplication-wide310x150logo" content="{% static "img/favicons/mstile-310x150.png" %}" />
    <meta name="msapplication-square310x310logo" content="{% static "img/favicons/mstile-310x310.png" %}" />

    <!-- Title -->
    <title>Sr. Blankenbaker{% if title %} - {{ title }}{% endif %}</title>

    <!-- Color Theme -->
    <meta name="theme-color" content="#ffffff">                                     <!-- Chrome, Firefox OS, Opera and Vivaldi -->
    <meta name="msapplication-navbutton-color" content="#ffffff">                   <!-- Windows Phone -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"> <!-- iOS Safari -->

    <!-- Bootstrap core CSS -->
    <link href="{% static "css/theme.min.css" %}" rel="stylesheet" type="text/css" />

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static "css/ie10-viewport-bug-workaround.css" %}" rel="stylesheet" type="text/css" >

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static "js/jquery.min.js" %}"></script>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="{% static "js/ie8-responsive-file-warning.js" %}"></script><![endif]-->
    <script src="{% static "js/ie-emulation-modes-warning.js" %}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{% static "js/html5shiv.min.js" %}"></script>
      <script src="{% static "js/respond.min.js" %}"></script>
    <![endif]-->

    {% block extra_head_tags %}
    {% endblock %}

    <!--- Style -->
    <style>
        /* Override box-shadow */
        * {
            -webkit-box-shadow: none !important;
            -moz-box-shadow: none !important;
            box-shadow: none !important;
        }

        body, html {
          height: 100%;
          margin: 0;
          font: 400 15px/1.8 "Lato", sans-serif;
          color: #777;
        }

        .navbar-nav li a {
           line-height: 50px;
        }

        @media only screen and (max-device-width: 1024px) {
            .navbar-brand {
                line-height: 40px;
                height: 70px;
            }

            .navbar-toggle {
                margin-top: 17px;
            }

            .row > div {
                padding-left: 0;
                padding-right: 0;
            }
        }
        {% block extra_head_styles %}
        {% endblock %}
    </style>
</head>
<body{% if background %} style="background: {{ background }}"{% endif %}>
    {% block header%}
    {% endblock %}

    {% block content%}
    {% endblock %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script>window.jQuery || document.write('<script src="{% static "js/jquery.min.js" %}" async><\/script>')</script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static "js/ie10-viewport-bug-workaround.js" %}"></script>
</body>
</html>